@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">유통기한</h1>
    <h2>날짜: @DateTime.UtcNow.AddHours(9).ToLocalTime().ToString("yy-MM-dd")</h2>

    <style>
        table {
            border-collapse: collapse;
            font-size: 14px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>

    <form method="post">
        <label for="name">상품명:</label>
        <input type="text" id="name" name="name" required>

        <label for="year">연도:</label>
        <select id="year" name="year" required>
            @for (int i = DateTime.UtcNow.AddHours(9).Year; i <= DateTime.Now.ToLocalTime().Year + 10; ++i)
            {
                <option value="@i">@i</option>
            }
        </select>

        <label for="month">월:</label>
        <select id="month" name="month" required>
            @for (int i = 1; i <= 12; i++)
            {
                <option value="@i">@i</option>
            }
        </select>

        <label for="day">일:</label>
        <select id="day" name="day" required>
            @for (int i = 1; i <= 31; i++)
            {
                <option value="@i">@i</option>
            }
        </select>

        <button type="submit" name="AddProduct">상품 추가</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>상품명</th>
                <th>연도</th>
                <th>월</th>
                <th>일</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Manager.Instance.GetProducts())
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Date.Year</td>
                    <td>@item.Date.Month</td>
                    <td>@item.Date.Day</td>
                    <form method="post">
                    <td><button type="submit" name="RemoveProduct" value=@item.Name>삭제</button></td>
                    </form>
                </tr>
            }
        </tbody>
    </table>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
